[submodule "chat-app-client"]
	path = chat-app-client
	url = https://github.com/ApacheShogun/chat-app-client.git
[submodule "chat-app-server"]
	path = chat-app-server
	url = https://github.com/ApacheShogun/chat-app-server.git
